<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/ios-filled/2x/admin-settings-male.png" height = "100px" width = "100px" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/home" >
      <input type="text"  name="username" [(ngModel)]="username" id="username" class="fadeIn second" placeholder="username">
      <input type="password" name="password" [(ngModel)]="password" id="password" class="fadeIn third" placeholder="password">
      <input type="submit" name ="Login" class="fadeIn fourth" value="Login" (click) = "doLogin()">
    </form>

  </div>
</div>