
<div class="header">
  
  <img class="logo" src="https://github.com/CHAKFI/WScientific-Production/blob/main/Angular-frontend/src/assets/img/ucd.png?raw=true" height = "100px" width = "300px" alt="User Icon" />
  <p class="text">Welcome to WSientific-Production Papers</p>
  <p class ="para">Faculté polydisciplinaire Sidi Bennour</p>

</div>


<ul class="menu">

      <li title="home"><a href="#" class="menu-button home">menu</a></li>
      
      <li title="search"><a href="#" class="search">search</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
	  <li title="Edit"><a href="#" class="archive">Edit</a></li>
      <li title="about"><a href="#" class="active about">about</a></li>
      
      
    </ul>
    
    <ul class="menu-bar">
        <li><a href="#" class="menu-button">Menu</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Editorial</a></li>
        <li><a href="#">About</a></li>
    </ul>


  