body {
    background-color: #c4c4c4;
  
}

img.logo{
	margin-top: -500px;
	margin-bottom: 60px;

}
p.para {
	font-size:20px;
	font-family:verdana;
	margin-top: 60px;
	margin-bottom: -130px;

}

.text {
    position: center;
	margin-top: -10px;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 37px;
    font-weight: 800;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


.header {
	padding: 140px;
	text-align: center;
	background: #0cc39f;
	color: white;
	font-size: 22px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 55px;
    background-image: [src] = "myimage";
  }

div {
	background-color:rgb(157, 236, 246);
	margin-left: -2px;
	margin-right: -2px;
	padding: 30px;
}

table{
	width:100%;
}
td form {
	margin:0;padding:0;
}
td form button .button{
	padding:0.25em;margin:0.25em;
	background:none;
	color:blue;
}
td form button .button:hover{
  background:none;
	color:steelblue;
}