
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="header">
  
  <img class="logoo" src="https://github.com/CHAKFI/WScientific-Production/blob/main/Angular-frontend/src/assets/img/ucd.png?raw=true" height = "100px" width = "300px" alt="User Icon" />
  <p class="text">Welcome to WSientific-Production Papers</p>
  <p class ="para">Faculté polydisciplinaire Sidi Bennour</p>


<ul class="menu">

      <li title="home"><a href="#" class="menu-button home">menu</a></li>
      <li title="search"><a href="#" class="search">search</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
	    <li title="Edit"><a href="#" class="archive">Edit</a></li>
      <li title="about"><a href="#" class="active about">Logout</a></li>
       
</ul>
</div>










<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
      <h2>Gestion de Publication</h2>
     </div>
     <div class="col-sm-6">
      <a class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span> Ajouter Nouvelle Publication </span> </a>
      <a class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span> Supprimer Publication </span> </a>      
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
      <th>
       <span class="custom-checkbox">
        <input type="checkbox" id="selectAll">
        <label for="selectAll"></label>
       </span>
      </th>
                        <th>Nom Auteur</th>
                        <th>Email</th>
                        <th>Sujet de publication</th>
                        <th>Date de publication</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
      <td>
       <span class="custom-checkbox">
        <input type="checkbox" id="checkbox1" name="options[]" value="1">
        <label for="checkbox1"></label>
       </span>
      </td>
                        <td>nom.[(ngModel)]</td>
                        <td>Email.[(ngModel)]</td>
                        <td>Sujet.[(ngModel)]</td>
                        <td>Date[(ngModel)]</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
      <td>
       <span class="custom-checkbox">
        <input type="checkbox" id="checkbox2" name="options[]" value="1">
        <label for="checkbox2"></label>
       </span>
      </td>
                        <td>USER2</td>
                        <td>user2@mail.com</td>
                        <td>Spring boot REST API</td>
                        <td>05/09/2020</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
     <tr>
      <td>
       <span class="custom-checkbox">
        <input type="checkbox" id="checkbox3" name="options[]" value="1">
        <label for="checkbox3"></label>
       </span>
      </td>
                        <td>USER3</td>
                        <td>user3@mail.com</td>
                        <td>Angular Routing</td>
                        <td>01/01/2019</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>


   <div class="clearfix"> 
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
          
    </div>


</div>
    
  

  
  

